//
@import "~vue2-editor/dist/vue2-editor.css";
html,
#app,
#app > div,
body{
    margin: 0px;
    height: 100%;
}
*{
    font-family: "OpenSans-Regular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: "OpenSans-Bold";
}
ul li{
    list-style: none;
}
.btn_green {
    box-shadow: 0 0.125rem 0.625rem rgb(58 196 125 / 40%), 0 0.0625rem 0.125rem rgb(58 196 125 / 50%);
    cursor: pointer;
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-flex !important;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    text-decoration: none;
}
.btn_blue .sidebar_icon,
.btn_black .sidebar_icon,
.btn_green .sidebar_icon{
    margin-right: 0.5rem !important;
}
.btn_green:hover {
    box-shadow: 0 0.125rem 0.625rem rgb(58 196 125 / 50%), 0 0.0625rem 0.125rem rgb(58 196 125 / 60%);
    color: #fff;
    background-color: #31a66a;
    border-color: #2e9d64;
    text-decoration: none;
}
.btn_black{
    box-shadow: 0 0.125rem 0.625rem rgb(52 58 64 / 40%), 0 0.0625rem 0.125rem rgb(52 58 64 / 50%);
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.btn_black:hover{
    box-shadow: 0 0.125rem 0.625rem rgb(52 58 64 / 50%), 0 0.0625rem 0.125rem rgb(52 58 64 / 60%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    text-decoration: none;
}
.btn_red_icon,
.btn_blue_icon,
.btn_blue{
    box-shadow: 0 0.125rem 0.625rem rgb(22 170 255 / 40%), 0 0.0625rem 0.125rem rgb(22 170 255 / 50%);
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    color: #fff;
    background-color: #16aaff;
    border-color: #16aaff;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    cursor: pointer;
    display: inline-flex !important;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-family: "OpenSans-Bold";
    text-decoration: none;
}
.btn_red_icon,
.btn_blue_icon{
    padding: 0.3rem;
    .sidebar_icon{
        width: 16px;
        height: 16px;
    }
}
.btn_red_icon{
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: 0 0.125rem 0.625rem #f2747466, 0 0.0625rem 0.125rem #dc354587;
}
.btn_blue:hover{
    box-shadow: 0 0.125rem 0.625rem rgb(22 170 255 / 50%), 0 0.0625rem 0.125rem rgb(22 170 255 / 60%);
    color: #fff;
    background-color: #0098ef;
    border-color: #0090e2;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 240px;
    padding-top: 60px;
    .main-header{
        height: 60px;
        background: #fff;
        border-bottom: 1px solid #f2f4f9;
        display: flex;
        align-items: center;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 240px;
        z-index: 978;
        box-shadow: 3px 0 10px 0 rgb(183 192 206 / 20%);
        transition: width .1s ease,left .1s ease;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        .input_search{
            position: relative;
            display: flex;
            align-items: center;
            .input_icon{
                width: 20px;
                cursor: pointer;
                color: #c4cfdc;
                stroke-width: 3;
            }
            input{
                border: 0;
                background: #fff;
                margin-top: 3px;
                border-radius: 0px;
                font-weight: 400;
                font-size: .875rem;
                outline: none;
                display: block;
                height: calc(1.5em + .75rem + 2px);
                padding: .5rem 1rem;
                line-height: 1;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border-radius: 2px;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                &::placeholder{
                    color: #c4cfdc;
                    font-weight: bold;
                }
            }
        }
    }
    .main-footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #f9fafb;
        padding: 15px 25px;
        border-top: 1px solid #e8ebf1;
        transition: all .2s ease;
        -moz-transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -ms-transition: all .2s ease;
        font-size: calc(.875rem - .05rem);
        font-weight: 400;
        margin-top: auto;
    }
    .content-wrapper{
        width: 100%;
        padding: 25px;
        background: #f9fafb;
    }
    .main-sidebar{
        width: 240px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        transition: width .1s ease,margin .1s ease-out;
        z-index: 999;
        background: #0c1427;
        border-right: 1px solid #344258;
        .sidebar-header{
            background: #0c1427;
            border-bottom: 1px solid #344258;
            border-right: 1px solid #344258;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px;
            z-index: 999;
            width: 240px;
            transition: width .1s ease;
        }
        .sidebar{
            background: #0c1427;
            border-right: 1px solid #344258;
            max-height: calc(100% - 60px);
            position: relative;
            height: 100%;
            box-shadow: 0 8px 10px 0 rgb(183 192 206 / 20%);
            .sidebar_ul{
                padding: 25px 25px 50px;
                li{
                    list-style: none;
                    a{
                        color: #bfc3ce;
                        text-decoration: none;
                        white-space: nowrap;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        height: 32px;
                        position: relative;
                        transition: .5s;
                        p{
                            margin-bottom: 0;
                        }
                        &::before{
                            content: "";
                            width: 3px;
                            height: 0px;
                            background: #727cf5;
                            position: absolute;
                            left: -25px;
                            transition: .5s;
                        }
                        &:hover,
                        &.active{
                            color: #727cf5;
                            &::before{
                                height: 26px;
                            }
                        }
                        .sidebar_icon{
                            width: 16px;
                            margin-right: 10px;
                        }
                        .drop_down_icon{
                            position: absolute;
                            right: 0;
                            top: 5px;
                        }
                    }
                    &.has_dropdown{
                        .drop_down_list{
                            display: none;
                            padding-left: 25px;
                            li{
                                list-style: circle;
                                color: #bfc3ce;
                                &:hover{
                                    list-style: disc;
                                    color: #727cf5;
                                    a{
                                        color: #727cf5;
                                    }
                                }
                                a{
                                    &:before{
                                        display: none !important;
                                    }
                                }
                            }
                        }
                        &.show{
                            .drop_down_list{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
.btn_burger{
    .sidebar_icon{
        color: #bfc3ce;
    }
}
.mr_0{
    margin-right: 0 !important;
}
.page_header{
    .header_title{
        font-size: 1.4rem;
        font-family: 'OpenSans-Regular';
        font-weight: bold;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.jv_card{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: .25rem;
    width: 100%;
    box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    padding: 1.5rem;
}
.input_style{
    position: relative;
    label{
        position: absolute;
        margin: 7px 0;
        padding: 0 4px;
        font-family: "OpenSans-Regular";
        color: #6c757d;
        display: flex;
        align-items: center;
        font-size: 16px;
        top: 0;
        left: 25px;
        transition: all .2s;
        transform-origin: 0% 0%;
        background: 0 0;
        pointer-events: none;
        z-index: 1;
    }
    input{
        font-weight: 500;
        font-size: 16px;
        color: #495055;
        padding: 5px 15px;
        border-radius: 6px;
        border: 2px solid #d9d9d9;
        outline: none;
        &:valid,
        &:focus{
            color: #284b63;
            border-color: #284b63;
            outline: none;
            box-shadow: none;
            &+label{
                transform: scale(.8) translateY(-22px);
                background: #fff;
            }
        }
    }
}
.form_btn_block{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}
.multiselect{
    min-height: 38px !important;
}
.multiselect__tags{
    min-height: 38px !important;
    border: 2px solid #d9d9d9 !important;
    padding: 6px 40px 0 15px !important;
    font-size: 16px !important;
}
.multiselect__tag{
    cursor: pointer !important;
    &.selected,
    &:hover{
        background: #3a8d68;
    }
}
.multiselect__placeholder{
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    font-size: 16px !important;
    color: #6c757d !important;
    font-family: "OpenSans-Regular" !important;
}
.isRequired{
    border-color: red  !important;
}
tbody{
    tr{
        td{
            ul{
                margin-bottom: 0;
                list-style: none;
                padding: 0;
                li{
                    border-bottom: 1px solid #dee2e6;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    &.active{
                        background: #6ac0f2;
                    }
                    &:last-child{
                        border: none;
                    }
                }
            }

        }
        &.selected{
            background: #b3d8ee;
        }
    }
}
.input_style_file{
    position: relative;
    label{
        width: 150px;
        height: 150px;
        border: 2px dashed #284b63;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: bold;
        overflow: hidden;
        text-align: center;
        &:hover{
            background: #284b63;
            color: white;
        }
    }
    input{
        opacity: 0;
        position: absolute;
        top: 0;
    }
}
.title_label{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
