//
@import "~vue2-editor/dist/vue2-editor.css";
.treeclass .nodetree text{
    font: 16px  sans-serif !important;
}
html,
#app,
#app > div,
body{
    margin: 0px;
    height: 100%;
}

*{
    font-family: "OpenSans-Regular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: "OpenSans-Bold";
}
ul li{
    list-style: none;
}
.text_link p{
    margin-bottom: 0;
}
.login_alert{
    border: 1px solid red;
    border-radius: 6px;
    padding: 6px 30px 7px 30px;
    color: red;
    background: #ffaaaa;
    margin-bottom: 30px;
}
.btn_yellow,
.btn_green {
    box-shadow: 0 0.125rem 0.625rem rgb(58 196 125 / 40%), 0 0.0625rem 0.125rem rgb(58 196 125 / 50%);
    cursor: pointer;
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-flex !important;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    text-decoration: none;
}
.btn_yellow .sidebar_icon,
.btn_red .sidebar_icon,
.btn_blue .sidebar_icon,
.btn_black .sidebar_icon,
.btn_green .sidebar_icon{
    margin-right: 0.5rem !important;
}

.btn_yellow:hover{
    background-color: #fabe08;
    border-color: #fabe08;
}
.btn_green_icon:hover,
.btn_green:hover {
    box-shadow: 0 0.125rem 0.625rem rgb(58 196 125 / 50%), 0 0.0625rem 0.125rem rgb(58 196 125 / 60%);
    color: #fff;
    background-color: #31a66a;
    border-color: #2e9d64;
    text-decoration: none;
}
.btn_black{
    box-shadow: 0 0.125rem 0.625rem rgb(52 58 64 / 40%), 0 0.0625rem 0.125rem rgb(52 58 64 / 50%);
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.btn_black:hover{
    box-shadow: 0 0.125rem 0.625rem rgb(52 58 64 / 50%), 0 0.0625rem 0.125rem rgb(52 58 64 / 60%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    text-decoration: none;
}
.btn_yellow_icon,
.btn_green_icon,
.btn_red_icon,
.btn_blue_icon,
.btn_red,
.btn_blue{
    box-shadow: 0 0.125rem 0.625rem rgb(22 170 255 / 40%), 0 0.0625rem 0.125rem rgb(22 170 255 / 50%);
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    color: #fff;
    background-color: #16aaff;
    border-color: #16aaff;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    cursor: pointer;
    display: inline-flex !important;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-family: "OpenSans-Bold";
    text-decoration: none;
}
.btn_yellow_icon,
.btn_green_icon,
.btn_red_icon,
.btn_blue_icon{
    padding: 0.3rem;
    .sidebar_icon{
        width: 16px;
        height: 16px;
    }
}

.btn_red,
.btn_red_icon{
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: 0 0.125rem 0.625rem #f2747466, 0 0.0625rem 0.125rem #dc354587;
}
.btn_red_icon:hover,
.btn_red:hover{
    background-color: #a6232f;
    border-color: #a6232f;
}
.btn_blue_icon:hover,
.btn_blue:hover{
    box-shadow: 0 0.125rem 0.625rem rgb(22 170 255 / 50%), 0 0.0625rem 0.125rem rgb(22 170 255 / 60%);
    color: #fff;
    background-color: #0098ef;
    border-color: #0090e2;
}
.btn_green_icon{
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
    box-shadow: 0 0.125rem 0.625rem rgb(58 196 125 / 40%), 0 0.0625rem 0.125rem rgb(58 196 125 / 50%);
}
.btn_yellow_icon,
.btn_yellow{
    background-color: #ffcc32;
    border-color: #ffcc32;
    box-shadow: 0 0.125rem 0.625rem #ffc1076b;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 60px;
    &.show{
        padding-left: 280px;
        .main-sidebar{
            width: 280px;
            .sidebar-header{
                .brand-link{
                    display: block;
                }
                padding: 0 25px;
                width: 280px;
            }
            .sidebar{
                .sidebar_ul{
                    padding: 25px 25px 50px;
                    li{
                        a{
                            p{
                                display: block;
                            }
                            .sidebar_icon{
                                width: 16px;
                                margin-right: 10px;
                                margin-bottom: 0px;
                            }
                            .drop_down_icon{
                                display: block;
                            }
                            &::before{
                                left: -25px;
                            }
                        }
                        &.has_dropdown{
                            &.show{
                                .drop_down_list{
                                    display: block;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    .main-header{
        height: 60px;
        background: #fff;
        border-bottom: 1px solid #f2f4f9;
        display: flex;
        align-items: center;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 280px;
        z-index: 978;
        box-shadow: 3px 0 10px 0 rgb(183 192 206 / 20%);
        transition: width .1s ease,left .1s ease;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        .input_search{
            position: relative;
            display: flex;
            align-items: center;
            .input_icon{
                width: 20px;
                cursor: pointer;
                color: #c4cfdc;
                stroke-width: 3;
            }
            input{
                border: 0;
                background: #fff;
                margin-top: 3px;
                border-radius: 0px;
                font-weight: 400;
                font-size: .875rem;
                outline: none;
                display: block;
                height: calc(1.5em + .75rem + 2px);
                padding: .5rem 1rem;
                line-height: 1;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border-radius: 2px;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                &::placeholder{
                    color: #c4cfdc;
                    font-weight: bold;
                }
            }
        }
    }
    .main-footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #f9fafb;
        padding: 15px 25px;
        border-top: 1px solid #e8ebf1;
        transition: all .2s ease;
        -moz-transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -ms-transition: all .2s ease;
        font-size: calc(.875rem - .05rem);
        font-weight: 400;
        margin-top: auto;
    }
    .content-wrapper{
        width: 100%;
        padding: 25px;
        background: #f9fafb;
    }
    .main-sidebar{
        width: 50px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        transition: width .1s ease,margin .1s ease-out;
        z-index: 999;
        background: #0c1427;
        border-right: 1px solid #344258;
        .sidebar-header{
            background: #0c1427;
            border-bottom: 1px solid #344258;
            border-right: 1px solid #344258;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 999;
            padding: 0 13px;
            width: 50px;
            transition: width .1s ease;
            .brand-link{
                display: none;
            }
        }
        .sidebar{
            background: #0c1427;
            border-right: 1px solid #344258;
            max-height: calc(100% - 60px);
            position: relative;
            height: 100%;
            box-shadow: 0 8px 10px 0 rgb(183 192 206 / 20%);
            .sidebar_ul{
                padding: 25px 0px 0px 10px;
                li{
                    list-style: none;
                    a{
                        color: #bfc3ce;
                        text-decoration: none;
                        white-space: nowrap;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        height: 32px;
                        position: relative;
                        transition: .5s;
                        p{
                            margin-bottom: 0;
                            display: none;
                        }
                        &::before{
                            content: "";
                            width: 3px;
                            height: 0px;
                            background: #727cf5;
                            position: absolute;
                            left: -10px;
                            top: 2px;
                            transition: .5s;
                        }
                        &:hover,
                        &.active{
                            color: #727cf5;
                            &::before{
                                height: 26px;
                            }
                        }
                        .sidebar_icon{
                            margin-right: 0px;
                            width: 20px;
                            margin-bottom: 10px;
                        }
                        .drop_down_icon{
                            position: absolute;
                            right: 0;
                            top: 5px;
                            display: none;
                        }
                    }
                    &.has_dropdown{
                        .drop_down_list{
                            display: none;
                            padding-left: 25px;
                            li{
                                list-style: circle;
                                color: #bfc3ce;
                                &:hover{
                                    list-style: disc;
                                    color: #727cf5;
                                    a{
                                        color: #727cf5;
                                    }
                                }
                                a{
                                    &:before{
                                        display: none !important;
                                    }
                                }
                            }
                        }
                        &.show{
                            .drop_down_list{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.btn_burger{
    .sidebar_icon{
        color: #bfc3ce;
    }
}
.mr_0{
    margin-right: 0 !important;
}
.page_header{
    .header_title{
        font-size: 1.4rem;
        font-family: 'OpenSans-Regular';
        font-weight: bold;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.jv_card{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: .25rem;
    width: 100%;
    box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%);
    padding: 1.5rem;
    margin-bottom: 20px;
    &.filter{
        flex-direction: row;
    }
}
.input_style{
    position: relative;
    label{
        position: absolute;
        margin: 7px 0;
        padding: 0 4px;
        font-family: "OpenSans-Regular";
        color: #6c757d;
        display: flex;
        align-items: center;
        font-size: 16px;
        top: 0;
        left: 25px;
        transition: all .2s;
        transform-origin: 0% 0%;
        background: 0 0;
        pointer-events: none;
        z-index: 1;
    }
    textarea,
    select,
    input{
        font-weight: 500;
        font-size: 16px;
        color: #495055;
        padding: 5px 15px;
        border-radius: 6px;
        border: 2px solid #d9d9d9;
        outline: none;
        width: 100%;
        &:disabled,
        &:valid,
        &:focus{
            color: #284b63;
            border-color: #284b63;
            outline: none;
            box-shadow: none;
            &+label{
                transform: scale(.8) translateY(-22px);
                background: #fff;
            }
        }
    }
}
.form_btn_block{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}
.multiselect{
    min-height: 38px !important;
}
.multiselect__tags{
    min-height: 38px !important;
    border: 2px solid #d9d9d9 !important;
    padding: 6px 40px 0 15px !important;
    font-size: 16px !important;
}
.multiselect__tag{
    cursor: pointer !important;
    &.selected,
    &:hover{
        background: #3a8d68;
    }
}
.multiselect__placeholder{
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    font-size: 16px !important;
    color: #6c757d !important;
    font-family: "OpenSans-Regular" !important;
}
.isRequired .mx-input,
.isRequired{
    border-color: red  !important;
}

thead{
    tr{
        th{
            font-size: 14px;
        }
    }
}
tbody{
    tr{
        &.unread{
            position: relative;
            td{
                font-weight: bold;
                &:nth-child(2){
                    position: relative;
                    &::before{
                        content: 'Янги';
                        position: absolute;
                        top: 10px;
                        right: 20px;
                        padding: 2px 4px;
                        background: red;
                        color: white;
                        border-radius: 6px;
                    }
                }
            }

        }
        td{
            font-size: 12px;
            vertical-align: middle;
            position: relative;
            a{
                color: #000;
                text-decoration: none;
            }
            ul{
                margin-bottom: 0;
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                li{
                    border-bottom: 1px solid #dee2e6;
                    padding-bottom: 2px;
                    padding-top: 2px;
                    order: 1;
                    &.active{
                        background: #6ac0f2;
                        order: 0;
                    }
                    &:last-child{
                        border: none;
                    }
                }
            }

        }
        &.selected{
            background: #b3d8ee;
        }
    }
}
.hide_users{
    tr{
        td{
            ul{
                &.active{
                    li{
                        display: block;
                        border-bottom: 1px solid #dee2e6;
                        &.active{
                            display: block;
                            background: #6ac0f2;
                            order: 0;
                        }
                    }
                }
                li{
                    display: none;
                    &.active{
                        display: block;
                        background: transparent;
                        border:none;
                    }
                }
            }
        }
    }
}
#word{
    display: none;
}
.input_style_file{
    position: relative;
    label{
        width: 150px;
        height: 150px;
        border: 2px dashed #284b63;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: bold;
        overflow: hidden;
        text-align: center;
        &:hover{
            background: #284b63;
            color: white;
        }
    }
    input{
        opacity: 0;
        position: absolute;
        top: 0;
    }
}
.title_label{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.mr_15{
    margin-right: 15px !important;
}

.calendar{
    width: 706px;
    margin-left: auto;
    margin-right: auto;
}
// ::-webkit-scrollbar {
//     width: 0px;
// }
// ::-webkit-scrollbar-track {
//     display: none;
// }
.custom-calendar.vc-container {
    --day-border: 1px solid #e0ecf8;
    --day-border-highlight: 1px solid #e0ecf8;
    --day-width: 90px;
    --day-height: 90px;
    --weekday-bg: #f8fafc;
    --weekday-border: 1px solid #e0ecf8;
    border-radius: 0;
    width: 100%;
}
.vc-arrows-container{
    padding: 0px 10px !important;
}
.custom-calendar.vc-container .vc-weeks {
    padding: 0;
    background-color: var(--weekday-bg);
    border-bottom: 1px solid #000;
}
.custom-calendar .vc-header {
    background-color: #f1f5f8;
    padding: 0px 0 !important;
    border-bottom: 1px solid #ccc;
}
.custom-calendar.vc-container .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.custom-calendar.vc-container .vc-day {
    padding: 0px !important;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
}
.custom-calendar.vc-container .vc-day.weekday-1,
.custom-calendar.vc-container .vc-day.weekday-7 {
    background-color: #eff8ff;
}
.custom-calendar.vc-container .vc-day:not(.on-bottom) {
    border-bottom: var(--day-border);
}
.custom-calendar.vc-container .vc-day.weekday-1 {
    border-bottom: var(--day-border-highlight);
}
.custom-calendar.vc-container .vc-day:not(.on-right) {
    border-right: var(--day-border);
}
.custom-calendar.vc-container .vc-day.vc-day-dots {
    margin-bottom: 5px;
}
.custom-calendar.vc-container .vc-day:hover{
    cursor: pointer;
    background: #eff8ff;
}
.bg-red-600 {
    --bg-opacity: 1;
    background-color: #e53e3e;
    background-color: rgba(229,62,62,var(--bg-opacity));
}
.bg-blue-500 {
    --bg-opacity: 1;
    background-color: #4299e1;
    background-color: rgba(66,153,225,var(--bg-opacity));
}
.bg-indigo-500 {
    --bg-opacity: 1;
    background-color: #667eea;
    background-color: rgba(102,126,234,var(--bg-opacity));
}
.bg-teal-500 {
    --bg-opacity: 1;
    background-color: #38b2ac;
    background-color: rgba(56,178,172,var(--bg-opacity));
}
.bg-pink-500 {
    --bg-opacity: 1;
    background-color: #ed64a6;
    background-color: rgba(237,100,166,var(--bg-opacity));
}
.vc-day-content{
    color: black !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px !important;
}
.vc-day-content:hover{
    background: rgb(216, 236, 245) !important;
    color: white !important;
    font-weight: bold !important;
}
.vc-highlight{
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px !important;
    background-color: #eff8ff !important;
}
.weekday-1 .vc-highlight,
.weekday-7 .vc-highlight{
    background-color: #f8d7da !important;
}
.weekday-7 .vc-day-content,
.weekday-1 .vc-day-content{
    color: #842029 !important;
}
.jv_alert{
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    display: inline-flex;
    font-size: 12px;
}

.disabled_custom_editor{
    border: 2px solid #d9d9d9;
    padding: 5px 15px;
    border-radius: 6px;
    img{
        width: 100%;
    }
}
.input-group-text{
    padding: 0.56rem 0.75rem;
    border-radius: 0px;
}
.pl_30{
    padding-left: 30px;
}
.user_info{
    margin-left: auto;
    margin-right: 30px;
    margin-bottom:0;
    display: flex;
    align-items: center;
    font-weight: bold;
    span{
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        background: #919191;
        border-radius: 50%;
        justify-content: center;
        margin-right: 10px;
        position: relative;
        small{
            position: absolute;
            top: -6px;
            right: -4px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: white;
            background: #0dcaf0;
            font-size: 12px;
        }
    }
}
.read_more{
    background: #F2F5FA;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: "OpenSans-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0B0F38;
    transition: .5s;
    &:hover{
        background: #cfd3d9;
    }
}
.custom-calendar.vc-container .vc-day{
    height: auto !important;
    min-width: unset !important;
}
.custom-calendar.vc-container .vc-weeks {
    padding: 0;
    border: none !important;
}
.custom-calendar,
.custom-calendar.vc-container .vc-day.on-right{
    border-right: none !important;
}
.custom-calendar,
.custom-calendar.vc-container .vc-day.on-bottom{
    border-bottom: none !important;
}
.d_flex_jsb{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sr-only{
    display: none !important;
}
.alert{
    margin-bottom: 0;
}
.has-tooltip{
    cursor: pointer;
}
.tooltip {
    display: block !important;
    z-index: 10000;
    pointer-events: none;
    .tooltip-inner {
        padding: .1rem .3rem;
        color: #000;
        background-color: #fff;
        border-radius: .1rem;
        border: 1px solid #fff;
        border-radius: 6px;
        box-shadow: 0 0.125rem 0.625rem rgb(205 205 205 / 70%), 0 0.0625rem 0.125rem rgb(95 96 96 / 80%);
    }
    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: #fff;
      z-index: 999999;
    }
    &[x-placement^="top"] {
      margin-bottom: 5px;
      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: 5px;
      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &[x-placement^="right"] {
      margin-left: 5px;
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
    &[x-placement^="left"] {
      margin-right: 5px;
      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
  }
.input_checkbox{
    position: relative;
    input{
        opacity: 0;
        &:checked + label{
            background: #284b63;
            color: white;
        }
        position: absolute;
    }
    label{
        padding: 5px 20px;
        border-radius: 6px;
        border: 2px solid #284b63;
        color: #284b63;
        cursor: pointer;
        &:hover{
            background: #284b63;
            color: white;
        }
    }
}
.reads_count{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
    background: #dc3545;
    font-size: 12px;
}
.login_card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.login_card_left{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0c062e;
}
.form_content{
    width: 325px;
}
.login_card_right{
    width: 70%;
    display: flex;
    justify-content: center;
}
.login_card_right img{
    width: 70%;
}
.login_card_left .login_title{
    color: #fff;
    margin-bottom: 30px;
}
.input-group{
    position: relative;
    margin-bottom: 30px;

}
.input-group input{
    width: 100%;
    border: 2px solid transparent;
    font-size: 18px;
    padding: 6px 15px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}
.input-group input:focus{
    outline: none;
}
.input-group-append{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}
.btn_blue{
    text-align: center;
    justify-content: center;
    font-size: 16px;
}
.input-group-text{
    padding: 0;
    border-radius: 0px;
    height: 100%;
    width: 40px;
    justify-content: center;
    border-top-right-radius: 4px;
}
.chart_block {
    background: #ffffff;
    border-radius: 8px;
    padding: 24px;
    height: auto;
    width: 40%;
  }
  .dashboard_table {
    width: 59%;
  }
  .dashboard_header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    .jv_card{
        width: 79%;
        margin-right: 1%;
    }
    .calendar_dash{
        width: 20%;
    }
  }

  .item_calendar {
    width: calc(100% / 4 - 20px);
    overflow: hidden;
    border-radius: 8px;
    margin-top: -73px;
  }

  .header_item {
    background: #ffffff;
    border-radius: 8px;
    padding: 24px;
    height: 175px;
    width: calc(100% / 5 - 15px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .header_item .icon {
    background: #2cd699;
    border-radius: 16px;
    height: 68px;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 16px;
  }
  .header_item:nth-child(2) .icon {
    background: #0368ff;
  }
  .header_item:nth-child(3) .icon {
    background: #ff4930;
  }
  .header_item:nth-child(4) .icon {
    background: #0c1427;
  }
  .header_item .info {
    width: calc(100% - 85px);
  }
  .header_item .info p {
    font-family: "OpenSans-SemiBold";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #475569;
    margin-bottom: 4px;
  }
  .header_item .info h6 {
    font-family: "OpenSans-SemiBold";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #0b0f38;
  }

  .table-responsive {
    transition: 1s;
  }
  .mw_5000 {
    min-width: 5000px;
  }
  .overauto {
    overflow: auto;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  .custom-calendar {
    border: none;
  }
  .custom-calendar.vc-container {
    --day-border: 1px solid #e0ecf8;
    --day-border-highlight: 1px solid #e0ecf8;
    --day-width: 90px;
    --day-height: 90px;
    --weekday-bg: #e0ecf8;
    --weekday-border: 1px solid #e0ecf8;
    border-radius: 0;
    width: 100%;
  }
  .custom-calendar.vc-container .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }

  .custom-calendar.vc-container .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
  }
  .custom-calendar.vc-container .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
  }
  .custom-calendar.vc-container .vc-day .weekday-1,
  .custom-calendar.vc-container .vc-day .weekday-7 {
    background-color: #eff8ff;
  }
  .custom-calendar.vc-container:not(.on-bottom) {
    border-bottom: var(--day-border);
  }
  .custom-calendar.vc-container:not(.on-bottom) .weekday-1 {
    border-bottom: var(--day-border-highlight);
  }
  .custom-calendar.vc-container .vc-day-dots {
    margin-bottom: 5px;
  }
  .custom-calendar.vc-container:not(.on-right) {
    border-right: var(--day-border);
  }
  .day_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .day_block p {
    margin-bottom: 5px;
  }
  .day_block b {
    font-size: 14px;
  }
  .day_block sub {
    border: 1px solid #f27474;
    border-radius: 4px;
    height: 16px;
    width: 16px;
    display: flex;
    background: #dc3545;
    color: white;
    font-weight: bold;
    line-height: 0;
    letter-spacing: 0px;
    font-size: 10px;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    justify-content: center;
  }
  .spinner_table {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: #0c1427;
  }
  .profile_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    .input_style{
        width: 45%;
        .input_style{
            width: 100%;
        }
    }
  }
  .task_add_block{
      .select_serach{
          width: 40%;
      }
  }
  thead{
      tr{
          th{
            font-size: 16px;
          }
      }
  }
tbody {
    tr{
        td{
            font-size: 16px;
        }
    }
 }
 .orgchart{
    background: white !important;
}
.orgchart-container::-webkit-scrollbar {
    width: 4px !important;
}
.orgchart-container{
    height: 600px !important;
}
.orgchart-container::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}
.orgchart-container::-webkit-scrollbar-thumb {
    background: #888 !important;
  }

  /* Handle on hover */
.orgchart-container::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}
.orgchart .node .title{
    background-color: #1e7cb2 !important;
    padding: 0px 6px;
}
.orgchart .lines .downLine{
    background: #0B0F38 !important;
}
.orgchart .lines .topLine,
.orgchart .lines .leftLine,
.orgchart .lines .rightLine{
    border-color: #0B0F38 !important;

}
.orgchart .node .content{
    border-color: #0B0F38 !important;
}
.orgchart .node.focused, .orgchart .node:hover{
    background-color:  transparent !important;
    box-shadow: inset 0 0px 10px rgb(25 118 184);
    border-radius: 8px;
}
.orgchart .node{
    width: 200px !important;
}
@media (max-width: 1700px){
    .dashboard_header{
        flex-wrap: wrap;
        justify-content: center;
        .header_item{
            width: calc(100% / 3 - 15px);
            margin-bottom: 20px;
            margin-right: 15px;
        }
        .jv_card{
            width: 100%;
            order: 1;
            margin-right: 0;
        }
        .calendar_dash{
            width: calc(100% / 3 - 0px);
            margin-left: 15px;
            margin-bottom: 20px;
        }
    }

}
@media (max-width: 1500px){
    .profile_block{
        .input_style{
            width: 40%;
            .input_style{
                width: 100%;
            }
        }
    }
    .input_style{
        .mx-datepicker-range{
            width: 230px;
        }
    }
    .task_add_block{
        .select_serach{
            width: 35%;
        }
    }
}
@media (max-width: 1250px){
    .dashboard_header{
        justify-content: space-between;
        .header_item{
            width: 48%;
            margin-right: 0;
        }
        .calendar_dash{
            width: 48%;
            margin-left: 0;
        }
        .modal-dialog{
            max-width: 96% !important;
        }
    }
    .task_add_block{
        .select_serach{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 1200px){
    .login_card_left{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #0c062e;
    }
    .jv_card.filter{
        flex-wrap: wrap;
        justify-content: flex-end;
        .input_checkbox,
        .input_style{
            width: calc(100% / 3 - 20px);
            margin-bottom: 20px;
        }
        .input_checkbox{
            label{
                width: 100%;
            }
        }
    }
}
@media (max-width: 1100px){
    .jv_card.filter{
        flex-wrap: wrap;
        justify-content: space-between;
        .input_checkbox,
        .input_style{
            width: calc(100% / 2 - 20px);
            margin-bottom: 20px;
            .mx-datepicker-range{
                width: 100%;
            }
        }
        .input_checkbox{
            margin-bottom: 0;
        }
    }
}
@media (max-width: 1000px){
    .login_card_right{
        display: none;
    }
    .login_card_left{
        width: 100%;
    }
    .login_card_left .login_title{
        text-align: center;
    }
    .dashboard_header{
        flex-wrap: wrap;
    }
    .dashboard_header{
        .header_item{
            width: 100%;

        }
        .calendar_dash{
            width: 100%;
        }
    }
    .modal-dialog{
        max-width: 96% !important;
    }
    .profile_block{
        justify-content: flex-end;
        .input_style{
            width: 100%;
            .input_style{
                width: 100%;
                margin-bottom: 30px;
            }
        }
      }
}
@media (max-width: 900px){
    .jv_card.filter{
        flex-wrap: wrap;
        justify-content: space-between;
        .input_checkbox,
        .input_style{
            width: 100%;
            margin-bottom: 20px;
            .mx-datepicker-range{
                width: 100%;
            }
        }
        .input_checkbox{
            margin-bottom: 20px;
        }
    }
}
