html,
#app,
#app > div,
body {
  margin: 0px;
  height: 100%;
}

* {
  font-family: "OpenSans-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans-Bold";
}

.btn_green {
  box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.4), 0 0.0625rem 0.125rem rgba(58, 196, 125, 0.5);
  cursor: pointer;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-flex !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.btn_black i,
.btn_green i {
  margin-right: 0.5rem !important;
}

.btn_green:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.5), 0 0.0625rem 0.125rem rgba(58, 196, 125, 0.6);
  color: #fff;
  background-color: #31a66a;
  border-color: #2e9d64;
  text-decoration: none;
}

.btn_black {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn_black:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.5), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.6);
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  text-decoration: none;
}

.btn_blue {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.4), 0 0.0625rem 0.125rem rgba(22, 170, 255, 0.5);
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #fff;
  background-color: #16aaff;
  border-color: #16aaff;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.35rem !important;
  line-height: 1.5;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-flex !important;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-family: "OpenSans-Bold";
}

.btn_blue:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.5), 0 0.0625rem 0.125rem rgba(22, 170, 255, 0.6);
  color: #fff;
  background-color: #0098ef;
  border-color: #0090e2;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .main-header {
  width: 100%;
}

.wrapper .main-footer {
  width: 100%;
  background: #f9fafb;
  padding: 15px 25px;
  border-top: 1px solid #e8ebf1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  font-size: calc(.875rem - .05rem);
  font-weight: 400;
  margin-top: auto;
}

.wrapper .main-sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.1s ease, margin 0.1s ease-out;
  z-index: 999;
  background: #0c1427;
  border-right: 1px solid #344258;
}

.wrapper .main-sidebar .sidebar-header {
  background: #0c1427;
  border-bottom: 1px solid #344258;
  border-right: 1px solid #344258;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 999;
  width: 240px;
  transition: width 0.1s ease;
}

.wrapper .main-sidebar .sidebar {
  background: #0c1427;
  border-right: 1px solid #344258;
  max-height: calc(100% - 60px);
  position: relative;
  height: 100%;
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}

.wrapper .main-sidebar .sidebar .sidebar_ul {
  padding: 25px 25px 50px;
}

.wrapper .main-sidebar .sidebar .sidebar_ul li {
  list-style: none;
}

.wrapper .main-sidebar .sidebar .sidebar_ul li a {
  color: #bfc3ce;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0;
  height: 32px;
}

.wrapper .main-sidebar .sidebar .sidebar_ul li a .sidebar_icon {
  width: 16px;
  margin-right: 10px;
}

.btn_burger .sidebar_icon {
  color: #bfc3ce;
}

