html,
#app,
#app > div,
body {
  margin: 0px;
  height: 100%;
}

* {
  font-family: "OpenSans-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans-Bold";
}

.btn_green {
  box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.4), 0 0.0625rem 0.125rem rgba(58, 196, 125, 0.5);
  cursor: pointer;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-flex !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.btn_black i,
.btn_green i {
  margin-right: 0.5rem !important;
}

.btn_green:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.5), 0 0.0625rem 0.125rem rgba(58, 196, 125, 0.6);
  color: #fff;
  background-color: #31a66a;
  border-color: #2e9d64;
  text-decoration: none;
}

.btn_black {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5);
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn_black:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.5), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.6);
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  text-decoration: none;
}

.btn_blue {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.4), 0 0.0625rem 0.125rem rgba(22, 170, 255, 0.5);
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #fff;
  background-color: #16aaff;
  border-color: #16aaff;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.35rem !important;
  line-height: 1.5;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-flex !important;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-family: "OpenSans-Bold";
}

.btn_blue:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.5), 0 0.0625rem 0.125rem rgba(22, 170, 255, 0.6);
  color: #fff;
  background-color: #0098ef;
  border-color: #0090e2;
}

